$redColor : #FE0000;
@media (max-width: 1200px){
    .menuWrapper{
        .menu{
            ul{
                column-gap: 28px;
            }
        }
    }
    
}

@media (max-width: 991px){
    .menu{
        button:focus {
            outline: none;
            box-shadow: none;
          }
        svg{
            display: block;
            color: #fff;
            font-size: 20px;
        }
        ul{
            display: none !important;
        }
    }
    .offcanvas{
        ul{
            display: flex;
            flex-direction: column;
            column-gap: 20px;
            justify-content: space-around;
            padding: 20px;
            li{
                padding: 10px 0px;
                border-bottom: 1px solid #d5d5d5;
            }
            a{
                font-size: 22px;
                color: $redColor;
            }
        }
    }
    .mainWrapper {
        h3 {
            a{
            font-weight: 600;
            font-size: 24px;
            line-height: 1;
        }
        }
        .subPost{
            a{
                font-size: 14px;
            }
        }

    }
    .recent {
        h3 {
        padding: 0px;
        font: 22px;
    }
    .post{
        padding: 6px 0px;
        h6{
            line-height: 1;
            font-size: 14px;
        }
        p{
            font-size: 14px;
        }
        h7{
            line-height: 0 !important;
            font-size: 14px;
        }
    }
    }
    .educationnews .smallPost h7 {
        font-size: 14px;
    }
    .educationBlog {
        h4{
        font-size: 18px;
        }
        h5{
            line-height: 1;
            font-size: 14px;
        }
    }
    .meta{
        column-gap: 12px;
    }
    .trueStory .storyContent {
        display: flex;
        flex-direction: column;
        padding: 2%; 
        h3{
            line-height: 1.6;
            font-size: 18px !important;
        }
        p{
            font-size: 15px;
        }
    }

    .pstImg .imgContent {
        a{
            font-size: 15px;
        }
        h5{
            line-height: 16px;
        }
    }

    footer {
        .logo{
            img{
                width: 50%;
            }
        }
        .footerContent {
            h3{
                font-size: 16px;
            }
        .latest {
            a {
            display: block;
            font-size: 13px;
            padding: 5px 0px;
    }
}
.usefulLinks{
    font-size: 12px;
}
}
}
}

@media (max-width: 768px){
.logo{
    text-align: center;
    img{
        width: 50% !important;
    }
}
.header-ad{
    margin: 14px 0px;
}
.social{
    column-gap: 10px !important;
    svg{
        font-size: 14px !important;
    }
}
.mainWrapper{
    p{
        padding: 0px;
        line-height: 1;
    }
    .meta{
        margin-bottom: 10px;
    }
}
.post{
   button{
    width: fit-content;
   }
}
.long-ad{
    margin: 10px 0px;
}
.educationnews .smallPost{
    margin: 10px 0px;
}
.educationBlog{
    .meta{
        margin-bottom: 20px;
    }
    .secondPost{
        margin: 10px 0px;
        border-bottom: 1px solid #d5d5d5;
        p{
            display: none;
        }
        img{
            margin:10px 0px;
            height: 240px;
            object-fit: cover;
        }
    }
}
.trueStory{
    img{
        height: 250px;
    }
}
.usefulLinks{
    padding: 10px 0px !important;
    // padding: 0px !important;
    border-top:1px solid #39739E;
    border-bottom:1px solid #39739E;
    border-left: none !important;
    border-right: none !important;
}
footer{
    img{
        margin: 10px 0px;
        width: 80%;
    }
}
.smallPost{
   img{
    height: 250px;
   }
}
}
    
@media (max-width: 491px){
    .offcanvas{
        width: 70% !important;
    }
}

